*{margin:0;padding:0;}
li{list-style:none;}
img{border:0;}
em{font-style:normal;}
body{font-size:12px;}

.remix{position:fixed;z-index:9999;bottom:0;left:0;width:100%;height:240px;overflow:hidden;text-align:center;background:rgba(0,0,0,0.8);}
.remix .rlist{position:absolute;top:0;left:0;width:100%;-webkit-transition:top 0.6s;}
.remix .ritem{display:inline-block;vertical-align:top;width:200px;height:200px;padding:20px 10px;position:relative;}
.remix .ritem a{color:#fff;text-align:left;}
.remix .ritem span{position:absolute;background:rgba(0,0,0,0.7);padding:4px 6px;filter:alpha(opacity=0);opacity:0;-webkit-transition:opacity 0.2s;}
.remix .rphoto{display:block;width:200px;height:200px;box-shadow:0 0 0 2px #fff;}
.remix .rtitle{width:188px;left:10px;bottom:20px;}
.remix .rprice{top:20px;left:10px;color:#fc0;}
.remix .roffered{top:20px;right:10px;}
.remix .ritem a:hover span{filter:alpha(opacity=100);opacity:1;}
.remix .rprev,
.remix .rnext{display:none;position:absolute;top:90px;width:50px;height:50px;border-radius:50%;border:4px solid #fff;background:#000;cursor:pointer;}
.remix .rprev:before,
.remix .rnext:before{position: absolute;content:"";top:9px;width:0;height:0;border-top:16px solid rgba(44, 44, 44, 0);border-bottom: 16px solid transparent;}
.remix .rprev{left:2px;}
.remix .rnext{right:2px;}
.remix .rprev:before{left:12px;border-right:18px solid #fff;}
.remix .rnext:before{left:20px;border-left:18px solid #fff;}
.remix:hover .rprev,
.remix:hover .rnext{display:block;}